.isw-progress-bar {
  width: 100%;
  height: 4px;
  position: relative;
  background: #f2f2f2;
  border-radius: 4px;
  overflow: hidden;
  .isw-progressor {
    border-radius: 4px;
    position: absolute;
    height: 100%;
    background: #2f80ed;
  }
}